body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.nav-item{
    padding: 8px;
    font-size: 20px;
}

.nav-link{
    color: black !important;
    font-weight: 350;
}

.home-menu a{
    color: #888888 !important;
}

.home-hover:hover a.dropdown-toggle{
    color: #ba933e !important;
}

.nav-item:hover a.nav-link{
    color: #ba933e !important;
}

.home-hover:hover .home-menu{
    display: block;
}

.home-menu a:hover{
    color: black !important;
    background-color: transparent;
}

.login-item{
    padding: 8px;
    color: black;
}

.login-item a.icon-right:hover{
    color: #ba933e;
}

.login-item a{
    color: black;
    text-decoration: none;
}

.products-title .t-header{
    font-weight: 600;
    font-size: 30px;
}

.products-title .t-sub{
    color: #444444;
}

.card a{
    text-decoration: none !important;
    color: black;
}

.card-body p:first-child{
    font-weight: 650 !important;
}

.card-body p:last-child{
    color: gray;
    font-weight: 400;
    font-size: 14px;
}

.subcribe-wrapper{
    background-image: url("//cdn.shopify.com/s/files/1/0376/9440/6700/files/newsletter-bg.jpg?v=1585674408");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 50vh;
    position: relative;
}

.subcribe-wrapper .subcribe-box{
    background-color: white;
    height: 25vh; 
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.service-item{
    border-right: 1px solid #DDD;
}

.service-item a{
    text-decoration: none;
    font-weight: 700;
    color: black;
    transition: 0.3s;
}

.service-item a:hover{
    color: #ba933e;
}

a.btn-lifestyle{
    background-color: #ba933e;
    outline: none;
    border: none;
    color: white;
    font-size: 70%;
    font-weight: bold;
    margin: 10px 0;
}

a.btn-lifestyle:hover{
    background-color: #ba933e;
}

a.btn-readmore{
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 14px 32px;
    outline: none;
}

a.btn-readmore:hover{
    background-color: transparent;
    color: #ba933e;
    border-color: #ba933e;
    outline: none;
}

a.btn-readmore:focus{
    background-color: transparent;
    color: #ba933e;
    border-color: #ba933e;
    outline: none;
}

footer{
    background-color: black;
}

footer a i{
    font-size: 20px;
    color: white;
    margin: 30px 20px 0 0;
}

footer ul{
    list-style: none;
}

footer .h5{
    color: white;
    font-size: 18px;
    font-weight: 700;
}

footer li a{
    color: #888888;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
}

footer .icon-social i:hover{
    color: #ba933e;
}

footer li a:hover{
    color: #ba933e;
}

footer span{
    color: #888888;
}

footer .icon-contact{
    color: white;
    font-size: 20px;
}

button.collapsed{
    color: white !important;
    font-size: 25px;
    font-weight: 500;
}

.accordion-flush{
    color: white;
}

@media(max-width: 992px){
    .service-item{
        border-right: none;
    }

    .subcribe-wrapper .subcribe-box{
        width: 70%;
        height: 40vh;
    }
}

@media(max-width: 767px){
    .subcribe-wrapper .subcribe-box{
        width: 80%;
    }
}

@media(max-width: 576px){
    footer .ul-sm{
        display: none;
    }
}