body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.life-style{
    display: flex;
    justify-content: space-around;
}

.life-style .item{
    width: 23%;
}

.item .life-style-button{
    display: inline-block;
    padding: 6px 18px;
    background: #ba933e;
    margin: 16px 0;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.item .author{
    font-weight: bold;
    font-size: 17px;
    display: inline;
    margin-right: 5px;
}

.item span{
    color: #444;
}

.item .style-name{
    font-weight: bold;
    font-size: 24px;
}

.item .description{
    color: #444;
    font-size: 20px;
}

.item button{
    background: white;
    margin: 10px;
    border: 2px solid #e1e1e1;
    outline: none;
    padding: 20px 48px;
    font-weight: 550;
    font-size: 18px;
    border-radius: 8px;
    transition: 1s;
}

.item button:hover{
    color: #ba933e;
    border-color: #ba933e;
}